# Python cache
__pycache__/
*.pyc

# virtual env
venv/
.venv/
.env

# logs
*.log

# IDE
.vscode/
.idea/

# system
.DS_Store

# data
*.pdf
*.png
*.jpg

# models
models/

# notebooks
*.ipynb_checkpoints
*.ipynb
jup_notebooks/
output/

# dataset
dataset/
